.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img{
  width: 400px;
  height: 320px;
  margin: 5px;
  transition: all 2s;
  box-shadow: 4px 4px 4px #883885;

}
img:hover{
  transform: rotate(20deg);
  transform: scale3d(1.5,1.5,1.5);
}
